html,
body {
	scroll-behavior: smooth;
}

/* @media (min-width: 950px) {
	.toc {
		display: none !important;
	}

	.content {
		width: 60vw !important;
		margin-left: 28vw !important;
	}
} */

@media (min-width: 950px) {
	aside {
		padding-left: 8vw !important;
	}
}

.sub-nav div:nth-child(2) {
	display: none;
}

table {
	border-collapse: collapse;
	width: 100%;
}

thead {
	background-color: #303030;
	/* position: sticky;
	top: 4.5px; */
	border: 1px solid #ddd;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	font-weight: bold;
	text-align: center;
	color: whitesmoke;
}

tr:nth-child(even) {
	background-color: rgba(200, 200, 200, 0.3);
}

.dark tr:nth-child(even) {
	background-color: #303030 !important;
}

tbody tr:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

.dark tbody tr:hover {
	background-color: rgba(255, 255, 255, 0.3) !important;
}
