html,
body {
	scroll-behavior: smooth;
}

h3 {
	margin: 10px 0;
}

.element-block {
	margin: 0 10px;
}

.element-block div {
	display: flex;
	align-items: center;
	height: 28px;
}

.code-show-block {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #999999;
}
.copy-button {
	margin: 0 1rem;
	height: 28px;
}

hr {
	margin: 30px 0 10px 0;
}

table {
	border-collapse: collapse;
	width: 100%;
}

thead {
	background-color: #303030;
	position: sticky;
	top: 0;
	border: 1px solid #ddd;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	font-weight: bold;
	text-align: center;
	color: whitesmoke;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

.permalink {
	text-decoration: none;
	font-size: 18px;
}

.details section {
	gap: 1rem;
	padding: 1rem;
	border: 1px solid #ddd;
	border-radius: 5px;
}

.details h4 {
	margin: 0.5rem 0;
	padding: 0;
}
.details section details {
	cursor: pointer;
	padding-top: 1rem;
}

.details section summary {
	font-weight: bold;
}

pre {
	white-space: break-spaces;
}
